<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Omok Server</title>
</head>
<body>
    <h1>Welcome to Omok Server</h1>
    <p>This is the main page.</p>

    <a href="/auth/signin"><button>로그인</button></a>
    <a href="/auth/signup"><button>회원가입</button></a>
</body>
</html>
